.pcard {
    padding: 2rem;
    width: 600px;
    box-shadow: none;
    border-radius: 15px;
    text-decoration: none;
    color: none;
    transition: none;
    background-size: cover;
    margin: 0 auto;
    float: none;



}

.pcard:hover {
    padding: 2rem;
    transform: scale(1);
    box-shadow: none;
    border-radius: 15px;
    text-decoration: none;
    color: none;
    transition: none;
    background-size: cover;
    margin: 0 auto;
    float: none;


}

.jumbo{
    border-radius: 15px;
}

.meetname {
    
    color: #3D606E;
}
.meetname:hover {

    color: rgb(112, 177, 202);
}
