.card {
     box-shadow: 0px 5px 5px 5px rgba(54, 54, 54, 0.048);
    border-radius: 5px;
}

.card:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 20px 15px rgba(54, 54, 54, 0.116);
}


.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

body {
    margin: 0;
    font-family: "Helvetica Neue";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: rgb(190, 190, 190);
}
.jumbotron {
    margin: 0;
    font-family: "Helvetica Neue";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: left;
    background-color: rgb(228, 228, 228);
    background-image: url("https://picsum.photos/id/135/367/267");
    background-size: cover;
    box-shadow: 0px 5px 5px 5px rgba(54, 54, 54, 0.144);
    
}
.container {
    margin: 3rem;
    font-family: "Helvetica Neue";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color:  rgb(255, 255, 255);
   
}

.card-img-top {
    background-image: url("http://www.orlandonorthsports.com/assets/images/placeholders/placeholder-event.png");
    background-size: cover; 
    border-radius: 5px;
}

