.card {
    box-shadow: 0px 2px 4px 2px rgba(54, 54, 54, 0.048);
    border-radius: 10px;
    color: #3D606E;
    transition: all .3s ease-in-out;
    background-size: cover;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    text-align: left;

}


.card:hover {

    box-shadow: 0px 5px 10px 5px rgba(54, 54, 54, 0.116);
    transform: scale(1.009);

}




body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #3D606E;
    text-align: left;
    background-color: #eeeeee;
}
.jumbotron {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: left;
    background-color: #183441;
    background-size: cover;
    box-shadow: 0px 5px 5px 5px rgba(54, 54, 54, 0.144);
}
.homejumbo {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: left;
    background-color: #183441;
    background-size: 100%;
    box-shadow: 0px 5px 5px 5px rgba(54, 54, 54, 0.144);
    background-position: top;




}

.card-img-top {
    background-color: #3D606E;
    background-size: 500%;
    border-radius: 10px;
    background-position: top;

}

.btn {
    border-radius: 8px;
    border-color: #3D606E;
    margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: #3D606E;

}
.btn:hover {

    box-shadow: 0px 2px 5px 2px rgba(54, 54, 54, 0.116);
    transform: scale(1.05);
    background-color: #3D606E;
    color:#ffffff;
    border-color:#3D606E;

}

.button1 {
    border-radius: 8px;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3D606E;
    background-color: white;

}
.container {
   margin: 3rem;

}